//
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400%3b700&display=swap');
:root {--bs-body-font-family: 'Asap Condensed', sans-serif;}

nav {
    a {
        font-size: .9rem!important;
        color: black!important;
        font-weight: bold;
    }
    
    img {
        width: 80px!important;
    }
}

footer {
    h4 {
        font-size: 1rem;
    }
    
    .section {
        background-image: url('/img/footer-bg.jpg');
        color: white;
    }
    
    .list-group {
    
        .list-group-item {
            background-color: transparent;
            border: none;
            font-size: .8rem;
            padding: 0.3rem 0;
        }
        
    }
    
    a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.476);
    }
    
    .position-absolute {
        top: -10%;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 120%;
        overflow: hidden;
    
        img {
            height: 100%;
            overflow: hidden;
        }
    }

    #signup {

        h3 {
            color: rgb(60, 60, 218);
            font-size: 1.2rem;
        }
        .section-signup {
            background-color: #303030!important;
        }
        
        .my-btn {
            color: white;
            border: 2px solid rgb(60, 60, 218);
            cursor: pointer;
            display: inline-block;
            padding: .5rem 1rem;
        }
        
        .my-col {
            flex-basis: 20px;
            display: flex;
            align-items: center;
        }
    }
}

#jumbotron {
    height: 400px;
    background-image: url('/img/jumbotron.jpg');

    .current-series {
        font-weight: bold;
        padding: .5rem 1rem;
        transform: translateY(50%);
        background-color: #3182F9;
        color: white;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .container {
        height: 100%;
        position: relative;
    }
}

.text-white {
    background-color: #1C1C1C;
}

.load-more {
    font-weight: bold;
    padding: .5rem 1rem;
    background-color: #3182F9;
    color: white;
    display: inline-block;
    cursor: pointer;
}

.my-card {
    .img-container {
        aspect-ratio: 1 / 1;
        overflow: hidden;
    }
}

#bluebanner {
    .section {
        background-color: #3182F9;
        color: white;
        font-size: .9rem;
    }

    img {
        width: 100%;
    }

    .my-col-1 {
        flex-basis: 45px;
    }
}